<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  		<a class="navbar-brand" href="/">BlinkBuff</a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>

  		<div class="collapse navbar-collapse" id="navbarSupportedContent">
    		<ul class="navbar-nav mr-auto">
      			<li class="nav-item active d-flex align-items-center">
       				<a class="nav-link" href="/">HomePage</a>
      			</li>

      			<li class="nav-item d-flex align-items-center">
        			<a class="nav-link" href="/">Collections</a>
      			</li>
            <% if (user) { -%>
              <li class="nav-item d-flex align-items-center">
                <span style="color: white; white-space: nowrap;">Welcome, <%=user.username%></span>
              </li>
              <li class="nav-item d-flex align-items-center ml-3">
              <a href="/auth/rolecheck"><button class="btn btn-outline-warning" type="button">Profile</button></a>
              </li>
              <li class="nav-item d-flex align-items-center ml-3">
              <a href="/admin/uploadphoto"><button class="btn btn-outline-primary" type="button">Upload</button></a>
              </li>
            <% } -%>
    		</ul>
      <% if (user) { -%>
        <a href="/logout"><button class="btn btn-outline-danger" type="button">Logout</button></a>
      <% } else { -%>
        <a href="/user/login"><button class="btn btn-outline-success" type="button">Contribute ?</button></a>
      <% } -%>
			
  		</div>
</nav>