<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="navbar.js"></script>
  <link rel="stylesheet" href="/css/errorpage.css" type="text/css">
  <link href="https://fonts.googleapis.com/css2?family=Gotu&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Blink Buff | 4 0 4</title>
</head>
<body>
	<%- include('./partials/navbar') %>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 element_resize">
				<img src="/images/errorpage.svg" class="img-fluid element_resize" alt="">
			</div>
		</div>
	</div>