<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="navbar.js"></script>
  <link rel="stylesheet" href="/css/thankyou.css" type="text/css">
  
  <link href="https://fonts.googleapis.com/css2?family=Gotu&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>Blink Buff | Thank You</title>
</head>
<body>
	
  <%- include('./partials/navbar') %>

  <div class="container">
    <div class="row" style="margin-top: 14%;">
      <div class="col-lg-6 col-md-6 col-sm-6 d-flex justify-content-center">
        <img src="/images/thankyou.svg" alt="" height="300px" width="300px">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 d-flex justify-content-center my-auto">
        <div class="d-flex flex-column">
          <h1>Thank You !!</h1>
          <h5>Your contribution is waiting for admin permission .</h5>
          <br>
          <a href="/user/uploadphoto"><button class="btn btn-md btn-success">Contribute Again !</button></a>
          <br>
          <a href="/feedback"><button class="btn btn-md btn-warning">FeedBack</button></a>
          <br>
          <a href="/"><button class="btn btn-md btn-info">HomePage</button></a>
        </div>
      </div>
    </div>
  </div>



<script src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>