body{
  background: #9796f0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fbc7d4, #9796f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.bordercheck{
  border: 1px solid red;
}

.dp{
  height: 30%;
  width: 30%;
}

.username_heading{
  background: grey;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 1.7rem;
  font-family: 'Gotu', sans-serif;
}

.username_value{
  font-size: 1.7rem;
  font-family: 'Ubuntu', sans-serif;
}

.img_preview{
  height: 200px;
  width: 200px;
}

.table_text{
  font-size: 1rem;
  font-family: 'Ubuntu', sans-serif;
}